body{
  background-color: mediumaquamarine;
}
#photo{
  float:right;
}
#photo{
  border-radius: 50%;
}
#horizontal_nav ul {
   list-style: none;
   padding: 1%;
   border-radius: 20;
   text-align: center;
   background: firebrick;

 }
 #horizontal_nav li {
   display: inline;
   width: 7%;
}

 #horizontal_nav a {
   display: inline-block;
   padding: 0.25em 5em;
   color: azure;
    text-decoration: none;
   padding: 1em;
   border-radius: 4 0%;
   font-family: sans-serif;

 }
 #horizontal_nav a:hover{
   background: lightcoral;
 }
.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
}
.new{
  border-style:
  width: 50%;
}
